.idea*
*.DS_Store
parser/secret.pkl
parser/vk_config.v2.json
**/secret.pkl
**/*__pycache__*
*.ipynb_checkpoints/
data/*
scratchpad/*
recommedation_service/data/*
tg_bot/token.pkl
web_server/web_server/public/
web_server/web_server/webpack-stats.json
web_server/web_server/webpack-stats-prod.json
web_server/web_server/db.sqlite3
web_server_old/*
