<!doctype html>
{% load render_bundle from webpack_loader %}
<title>Muzender</title>
<div id="app2">
  [[ message ]]
</div>
<form method=post>
    {% csrf_token %}
    <dl>
        <dt>Hi there! Please enter vk.com user_id: <br>
        <dd><textarea name=text rows=1 cols=15>{{ user_id }}</textarea>
        <dd><input type=submit value="Get music recommendation!">
    </dl>
</form>

<br>We recommend you to listen the following song:<br>
{{ predicted_song }}

{% if not DEBUG %}
  {% render_bundle 'manifest' 'js' %}
  {% render_bundle 'vendor' 'js' %}
{% endif %}
{% render_bundle 'app' %}
