<!doctype html>
{% load render_bundle from webpack_loader %}
<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Muzender</title>
</head>

<body>
{% csrf_token %}
<div id="app2">
  <input v-model="user_id">
  <button v-on:click="get_rec_bands()">Get recommendation</button>
  <p v-if="loading">Collecting your music preferences...this may take up to a few minutes
  <div class="progress" v-if="loading">
    <div class="indeterminate"></div>
  </div>
  </p>
  <p>We recommend you to listen the following bands: [[rec_bands]]</p>
</div>


  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>

{% if not DEBUG %}
  {% render_bundle 'manifest' 'js' %}
  {% render_bundle 'vendor' 'js' %}
{% endif %}
{% render_bundle 'app' %}
