html, body {
  background-color: #edeef0;
  font-family: Roboto,sans-serif;
  font-size: 14px;
  line-height: 1.2;
  margin: auto
}

.content {
  padding: 25px;
  min-height: 600px;
}

.container-class {
  box-sizing: border-box;
  max-width: 800px;
  margin: auto;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.20);
  min-height: 450px;
}

#app2-buttons {
  display: flex;
}

#app2 input {
  margin: 20px;
  max-width: 50%;
  display: block;
  flex: 1;
}

#app2 button.waves-effect.waves-light.btn-large {
  max-width: 50%;
  margin: 20px 20px 20px 20px;
  height: 3rem;
  line-height: normal;
  display: block;
  flex: 1;
  border-radius: 0px;
}

.loading {
  max-width: 75%;
  margin: 0.5rem auto 1rem auto;
  height: 20px;
}

.recommended-bands {
  margin: auto;
  max-width: 75%;
  text-align: center;
}

#app2 li {
  text-align: left;
}

